.community-group-wrapper{'data-group-id' => group.id}
  .community-group
    .photo
      - if !group.photo_file_name.nil?
        %img{src: group.photo.url }
    .details
      .title= group.name.titleize
      .when= group.when
      .address
        .line-one= group.address.line_one
        .line-two= group.address.line_two
      .description= group.description
      -# = group.leaders.collect {|cgl| cgl.first}
