- if @page.permalink != 'home'
  #content.box.anchor
    %h3
      = @page.title
    %p
      - if @page.markup
        = markdown @page.source
      - else
        = @page.source.html_safe
- else
  = render "shared/banners"

- if @page.permalink == 'home'
  = render "shared/social"
