= form_for @leader, html: { class: 'form-horizontal' } do |f|

  .control-group
    = f.label :first, class: 'control-label'
    .controls
      = f.text_field :first

  .control-group
    = f.label :last, class: 'control-label'
    .controls
      = f.text_field :last

  .control-group
    = f.label :email, class: 'control-label'
    .controls
      = f.text_field :email

  .control-group
    = f.label :community_group, class: 'control-label'
    .controls
      - pp @leader.community_group_id
      = f.select(:community_group, options_from_collection_for_select(CommunityGroup.all, :id, :name, selected: @leader.community_group_id))

  .actions
    = f.submit
