= form_for(@banner, :html => {:multipart => true, :class => 'form-horizontal'}) do |f|
  .control-group
    = f.label :file, :class => 'control-label'
    .controls
      = f.file_field :file

  .control-group
    = f.label :link_to, :class => 'control-label'
    .controls
      = f.text_field :link_to
      %p.help-block
        If a url (http://www.somesite.com) exists here, a link will be added to the banner.

  .actions
    = f.submit 'Update'
