- if @page.permalink != 'home'
  #content.shadow
    #text
      %h3.yellow.bold= @page.title.titleize
      %p
        - if @page.markup
          = markdown @page.source
        - else
          = @page.source.html_safe
- else
  = render "shared/banners"

- if @page.permalink == 'home'
  = render "shared/social"
