#footer
  .grid_6
    = link_to 'contact', page_path('contact')
    = " | "
    = link_to 'give', page_path('give')
    = " | "
    = link_to 'home', '/'
    = " | "
    = link_to 'service', page_path('weekly')
    = " | "
    - unless user_signed_in?
      = link_to 'sign in', new_user_session_path
    - else
      = link_to 'dashboard', active_user_dashboard
      = " | "
      = link_to 'sign out', destroy_user_session_path, :method => :delete

  .grid_10.text-right
    Copyright City Church 2011 P.O.Box 3123, New Haven, CT 06515
.clear
