.grid_4
  #promos
    .promo.shadow= link_to image_tag('promo_groups.png'), permalink_path(:permalink => 'community-groups')
    .promo.shadow= link_to image_tag('promo_weekly_services.jpg'), permalink_path(:permalink => 'weekend-services')
    .promo.shadow= link_to image_tag('promo_city_kids.jpg'), permalink_path(:permalink => 'city-kids')
    .footer
      = link_to 'Service Time', permalink_path(:permalink => 'weekend-services'), :class => 'button'
      = link_to 'Contact Us', permalink_path(:permalink => 'contact'), :class => 'button'
