.grid_4
  #promos
    .promo.shadow= link_to image_tag('promo_groups.png'), permalink_path(:permalink => 'community-groups')
    .promo.shadow= link_to image_tag('promo_gatherings.png'), permalink_path(:permalink => 'weekly-gatherings')
    .promo.shadow= link_to image_tag('promo_story.png'), permalink_path(:permalink => 'our-story')
    .footer
      = link_to 'Service Time', permalink_path(:permalink => 'weekend-services'), :class => 'button'
      = link_to 'Contact Us', permalink_path(:permalink => 'contact'), :class => 'button'
