= form_for @group, html: { multipart: true, class: 'form-horizontal' } do |f|

  .control-group
    = f.label :name, class: 'control-label'
    .controls
      = f.text_field :name

  .control-group
    = f.label :meeting_day, class: 'control-label'
    .controls
      = f.select :meeting_day, weekday_options, { prompt: 'Select Weekday' }

  .control-group
    = f.label :meeting_time, class: 'control-label'
    .controls
      = f.time_select :meeting_time, { minute_step: 15 }

  .control-group
    = f.label :description, class: 'control-label', rows: 10
    .controls
      = f.text_area :description

  %fieldset
    %legend
      Address
    = f.fields_for :address do |a|
      = bootstrapped_field(a, @group.address, :text_field, :street)
      = bootstrapped_field(a, @group.address, :text_field, :city)
      = bootstrapped_field(a, @group.address, :text_field, :state)
      = bootstrapped_field(a, @group.address, :text_field, :zip)

  .control-group
    = f.label :photo, class: 'control-label'
    .controls
      = f.file_field :photo

  .actions
    = f.submit
